.addScreen{
  position: fixed;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(45, 50, 59, 0.8);
  /* background-color: var(--textColor2); */
}